/*Styles spécifiques pour les écrans de taille moyenne type tablette*/
@media screen and (min-width: 769px) and (max-width: 998px){
    .filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 500px;
        line-height: 50px;
    } 
    h4{
        width: 100%;
        margin-bottom: 15px;
    }
    button{
        margin-bottom: 20px;
    }
    article img{
        min-height: 213px;
    }
    aside, article, .activites{
        width: 100%;
    }
    aside{
        order: 1;    
    }
    article{
        order: 2;
        background-color: white;
    }
    .activites{
        order: 3;
    }
    .album_hebergements{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .album_hebergements .element{
        width: 98%;
        margin: auto;
        margin-bottom: 20px;
    }
    .album_populaires .element{
        width: 98%;
        margin: auto;
        margin-bottom: 20px;
    } 
    .album_activites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        height: fit-content;
    }
    .album_activites .element{
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
    }
    footer{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .footul{
        width: 100%;
    } 
    }

/*Styles spécifiques pour les petits écrans type écrans de mobile en dessous de 768px*/
@media screen and (min-width: 320px) and (max-width: 768px){
    header, main, article, aside, .activites, .album_hebergements, .album_populaires, .album_activites, element, footer, footul{
        width: 100%;
        margin: 0%;
    }
    .logo{
        display: flex;
        margin: auto;
        width: 30%;
        padding: 20px 0px 0px 0px;
        object-fit: contain;
        justify-content: center;
    }
    h2{
        padding: 15px 0px 0px 10px;
        font-size: 22px;
    }
    header{
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    nav ul{
        padding-left: 0px; 
        width: 100%;  
    }
    nav a{
        border-top: transparent !important;   
    }
    nav li{ 
        width:50%;
        padding-bottom: 10px;
        border-bottom: 3px solid var(--grey);
        transition: border-bottom 2s;
    }
    nav li:hover{
        border-bottom: 3px solid #0065FC;
    }
    .rechercher button{
      display: flex;
      width: 52px;
      align-items: center;
    } 
    .text{
        display: none;
    }
    .icone .fa-search{
        color: #fff;
        display: flex;
        visibility: visible;
        align-items: center;
        margin-left: -20px;
    }
    form, .info{
        margin-left: 2%
    }
    .titre{
        width: 68%;
        margin: 10px 0px 0px 15px;
        line-height: 20px;
    }
    .rechercher{
        margin-top: 25px;
    }
    .filtres{
        width: 430px;
        margin-bottom: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    } 
    .filtres h4{
        width: 100%;
        margin-top: 0px;
    }
    .filtres button{
        margin: 0px 20px 15px 0px;
    }
    .info{
        width: 400px;
    }
    aside, article, .activites{
       border-radius: 0px;
    }
    aside{
        order: 1;
    }
    article{
        order: 2;
        background-color: white;
    }
    .activites{
        order: 3;
    }
    .album_hebergements{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .album_hebergements .element{
        width: 96%;
        margin: auto;
        margin-bottom: 20px;
    }
    .album_populaires .element{
        width: 96%;
        height: 200px;
        margin: auto;
        margin-bottom: 20px;
    } 
    .album_activites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: fit-content;
    }
    .album_activites .element{
        width: 96%;
        height: 200px;
        margin: auto;
        margin-bottom: 15px;
    }
    footer{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .footul{
        width: 100%;
    } 
}

