/*********** CONSTANCES  *******/
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
}
body{
 
  font-size: 20px;
}
h2{
  font-size: 26px;
  padding: 30px 0px 0px 44px
}
a, li{
  color: black;
  text-decoration: none;
  list-style-type: none;
}
img{
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

/*********** HEADER : logo + menu *******/

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 2% 2% 2%;
}
.logo{
  width: 200px;
  padding-left: 15px;
  object-fit: contain;
}

/*********** Menu ********/

nav ul{
  width: 400px;
  display: flex;
  /* justify-content:space-between; */
}

nav li a{
  min-width: 160px;
  text-align: center;
  border-top: 5px solid transparent;
  padding-top: 20px;
  display: block;
} 
nav li:hover a{
	border-top: 5px solid #0065FC;
  color : #0065fc;
}

/******************** MAIN  *******/
main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0% 2% 3% 2%;
  width: 96%;
}

/******************** MAIN FORMULAIRE + Rechercher *******/
 .titre{
  padding: 0px;
  margin:  0px;
  line-height: 32px;
}
.rechercher{
  display: flex;
  margin: 30px 0px 30px 0px;
}
.fa-map-marker-alt{
  background-color: #f2f2f2;
  color: #000;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid var(--grey);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  border: 1px solid var(--grey);
  width: auto;
  padding-left: 30px;
  font-weight: 800;
}
.rechercher button{
  width: 130px;
  background-color: var(--blue);
  color: #fff;
  width: auto;
  border-radius: 0px 15px 15px 0px;
  border: none;
  font-weight: 700;
  padding: 15px 10px 15px 40px; 
  margin: 0px;
  cursor: pointer;
}
.icone .fa-search{
  visibility: hidden;
  color: #fff;
  width: 30px;
} 
.rechercher button:hover{
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}
/******************** MAIN FORMULAIRE + Filtres *******/
.filtres{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-right: 50px;
}
h4{
  padding-right: 20px;
}
.filtres i{
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  color: #0065fc;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  margin-right: 15px;
}
.filtres button{
  display: flex;
  align-items: center; 
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid var(--light-blue);
  height: 52px;
  width: fit-content;
  padding: 10px 15px 10px 0px;
  margin-right: 50px;
  text-align: center;
  cursor: pointer;
}
.filtres button:hover{
  background-color: var(--light-blue);
  transition: background-color 1s;
}
.fas.fa-child{
  font-size: 30px;
}
/******************** MAIN FORMULAIRE + Info *******/
.info{
  display: flex;
  margin: 0px 25px 50px 0px;
}
.info i{
  background-color: #fff;
  color: var(--blue);
  border: 1px solid var(--grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 5px;
}
.info p{
  display: flex;
  align-items: center;
  line-height: 18px;
  margin-right: 25px;
}
/******************** MAIN Article + Aside *******/
article, aside{
  background-color: var(--grey);
  border-radius: 20px;
  cursor: pointer;
}
article{
  width: 66%;
}
aside{
  width: 30%;
}
.element{
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 20px;
  padding: 5px;
}
.element:hover {
  box-shadow: 10px 10px 8px #c0c0c0;
}
.rating{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 25px;
}
.rating .fa-star{
  background-color: #fff;
  font-size: 18px;
  border: none;
}
.blue_star{
  color: var(--blue);
}
.grey_star{
  color: #c0c0c0;
}

/******************** MAIN Article + Album_hebergements*******/
.album_hebergements{
  display: flex;
  flex-flow: row wrap;
  margin-right: 16px;
}
.album_hebergements .element{
  width: 31%;
  margin: 0px 0px 30px 25px;
}
.album_hebergements img{
  width: 100%;
  max-height: 180px;
}
.album_hebergements p, h3{
  padding-left: 20px;
  line-height: 10px;
}
.plus{
  font-weight: bolder;
  padding: 10px 0px 0px 50px;
}

/******************** MAIN Aside + Album_populaires *******/

.titretoil{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.titretoil .fa-star{
  background-color: transparent;
  color: #000;
  font-size: larger;
  border: none;
  width: 50px;
}
.album_populaires .element{
  width: 86%;
  height: 250px;
  margin: 0% 7% 5% 7%;
}
.titre_prix h3, p{
  /* margin-left: 0px; */
  padding-left: 0px;
  line-height: 30px;
}
.album_populaires img{
  float: left;
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.description{
  float: right; 
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 55%;
} 
.album_populaires .rating{
  margin-bottom: 10px;
  margin-left: 0%;
  padding-left: 0%;
} 

/******************** MAIN Activites + Album_activites *******/
.activites{
  background-color: #fff;
  margin-top: 30px;
  width: 100%;
}
.album_activites{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 650px;
}
.activites .element{
  border-radius: 20px;
  box-shadow: 2px 2px 12px var(--grey);
  border: none;
  padding:1px 1px 60px 1px;
  width: 23%;
}
.activites .element:hover{
  box-shadow: 5px 5px 8px #c0c0c0;
}
.full{
  height: 100%;
}
.bigger{
  height: 55%;
}
.smaller{
  height: 35%;
}
.photo{ 
  height: 100%;
  padding: 2px;
}
.photo img{
width: 100%;
height: 100%;
border-radius: 20px 20px 0px 0px;
}

/******************** FOOTER *******/
footer{
  margin: 0%;
  width: 100%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}
.footul{
  width: 28%;
}
footer h4{
  padding-left: 40px;
}
.footul li{
  padding: 2px 0px 2px 0px;
}
.hidden{
  visibility: hidden;
}
/* Styles spécifiques pour les écrans de tailles intermédiaires type grandes tablettes et petits laptops. */
@media screen and (min-width: 999px) and (max-width: 1715px){ 
    
  h2{
      font-size: 110%; 
  }
  .filtres button{
      margin-right: 10px;  
  }
  main, footer, h3, p{
      font-size: 85%; 
  }
 .element h3{
      line-height: 20px;
  } 
  .album_hebergements{
      display: flex;
      flex-flow: row wrap;
  }
  .album_hebergements .element{
      width: 29%;
      padding: 3px;
  }
  .album_hebergements img{
      width: 100%;
      height: 166px;
  }
  aside{
      width: 32%;
  }
  .titretoil{
      padding-left: 10px;
  }
  .album_populaires .element{
      width: 96%;
      height: 166px;
      margin: 0px 5px 20px 5px;
  }
  /* .titre_prix h3, p{
      line-height: 15px;
  } */
  .footul{
      width: 35%;
  } 
  } 